form {
	margin: 30px auto;
}

input {
	display: block;
	margin: 10px auto;
	padding: 8px;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	margin: auto;
}

th, td {
	padding: 10px;
	border: 1px solid burlywood;
	max-width: 40vw;
	word-break: break-word;
}

th, tr:hover {
	background-color: whitesmoke;
	cursor: pointer;
}

th, th:hover {
	background-color: cornsilk;
	cursor: unset;
}