* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	background: #f5f5f5;
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: #7FC100;
	border-radius: 4px;
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #221F26;
	background-color: #f5f5f5;
}